<nz-layout class="">
  <div class="floating-header">
    <nz-header>

    </nz-header>
  </div>
  <nz-layout #homeComponent class="">
    <div class="invitation-content-main ">
      <div class="main-slider">
        <div class="groom-bride-main-content">
          <div class="groom-content-table">
            <div class="wedding-content">
              <i class="small-icon icon icon-tie"> </i>
              <h5 class="wedding-date"> 23 SETPEMBER 2017</h5>
              <h3 class="wedding-person-save"> Save The Date</h3>
              <h1 class="wedding-person-name">John & Rose</h1>
              <span class="wedding-info">Are Getting Married</span>
            </div>
          </div>
        </div>
      </div>
      <section class=" section story-area">
        <div class="container">
          <div class="row">
            <div class="column">
              <div class="story-heading">
                <h2 class="story-title">Our Story</h2>
                <span class="heading-bottom">
                  <p class="bottom-icon">*</p>
                </span>
              </div>
              <div class="story-content">
                <p>
                  Every bride and groom wants an incomparable wedding combined with fantasy
                  and style. We create stunning, one-of-a-kind events produced and styled to perfection.
                  From traditional to modern, elegant and relaxed, we focus on any event we plan.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class=" section counter-area">
        <div class="container">
          <div class="row">
            <div class="colummn">
              <div class="story-heading">
                <h2 class="counter-title">Don't miss it</h2>
                <span class="heading-bottom">
                  <p>*</p>
                </span>
              </div>
              <div class="remaining-time">
                <div class="clock">
                  <div class="time">
                    <span class="counter-timing" id="days"> {{daysToDday}} </span>Days
                  </div>
                  <div class="time">
                    <span class="counter-timing" id="hours"> {{hoursToDday}} </span>Hours
                  </div>
                  <div class="time">
                    <span class="counter-timing" id="minutes"> {{minutesToDday}} </span>Minutes
                  </div>
                  <div class="time">
                    <span class="counter-timing" id="seconds"> {{secondsToDday}} </span>Seconds
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class=" section">
        <div class="container">
          <div class="row row-padding">
            <div class="column">
              <span class="subheading">About Bride & Groom</span>
              <h2 class="subheading-content">Bride & Groom</h2>
            </div>
          </div>
          <div class="row">
            <div class="coulumn">
              <div class="bride-groom ftco-animate d-md-flex fadeInUp ftco-animated">
                <div class="img order-md-last ml-md-5 groom-image"></div>
                <div class="text text-md-right pl-md-5 mr-md-5 font-style">
                  <h2 class="h2-heading">Leonardo Agustus</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                    language ocean.</p>
                </div>
              </div>
              <div class="bride-groom ftco-animate d-md-flex fadeInUp ftco-animated">
                <div class="img ml-md-5 bridal-image"></div>
                <div class="text text-md-right pl-md-5 mr-md-5 font-style">
                  <h2 class="h2-heading">Leonardo Agustus</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                    language ocean.</p>
                </div>
              </div>
            </div>
            <div class="column"></div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row">
            <div class="column">
              <div class="story-heading">
                <h2 class="story-title">Wedding Details</h2>
                <span class="heading-bottom">
                  <p class="bottom-icon">*</p>
                </span>
              </div>
              <div class="wedding-detail margin-bottom">
                <div class="wedding-event right">
                  <img class="icon" src="assets/icons/wedding-rings.png" >
                  <h4 class="wedding-event-title">CEREMONY</h4>
                  <p class="paragraph">Look at the most passionate ceremony ever. We wish happiness to the wedding
                    couple.</p>
                </div>
                <div class="wedding-event left">
                  <img class="icon" src="assets/icons/dish.png" >
                  <h4 class="wedding-event-title">TOAST & DINNER</h4>
                  <p class="paragraph">Look at the most passionate ceremony ever. We wish happiness to the wedding
                    couple.</p>
                </div>
                <div class="wedding-event right">
                  <img class="icon" src="assets/icons/wedding-cake.png" >
                  <h4 class="wedding-event-title">WEDDING CAKE</h4>
                  <p class="paragraph">Look at the most passionate ceremony ever. We wish happiness to the wedding
                    couple.</p>
                </div>
                <div class="wedding-event left">
                  <img class="icon" src="assets/icons/tripod.png" >
                  <h4 class="wedding-event-title">PHOTOGRAPHY</h4>
                  <p class="paragraph">Look at the most passionate ceremony ever. We wish happiness to the wedding
                    couple.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>






      <!-- 
      <nz-layout class="right-layout">
        <div class="invitation-content-area background-image">

          <div class="first-carousle-class ">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active ">
                  <div>
                    <img class="img-fluid carousle-image-height" src="assets/image-2.jpg" alt="First slide">
                  </div>

                  <div class="carousel-caption d-md-block">
                    <h5>Father Name</h5>
                    <p>Prabagarn.S B.Tech(IT)</p>
                  </div>

                </div>
                <div class="carousel-item ">
                  <img class="img-fluid carousle-image-height" src="assets/image-1.jpg" alt="Second slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>...</h5>
                    <p>...</p>
                  </div>

                </div>
                <div class="carousel-item">
                  <img class="img-fluid carousle-image-height"
                    src="https://scontent.fcok5-1.fna.fbcdn.net/v/t1.6435-9/219340925_2688621484761414_744962381444242568_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=DHPOn-Lef88AX-8MTSW&_nc_ht=scontent.fcok5-1.fna&oh=51008885291dd791e4fe1a3079f5b95e&oe=618DD091"
                    alt="Third slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>...</h5>
                    <p>...</p>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev navigation-button-position-prev" href="#carouselExampleIndicators"
                role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next navigation-button-position-next" href="#carouselExampleIndicators"
                role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="first-carousle-class ">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active ">
                  <div>
                    <img class="img-fluid carousle-image-height" src="assets/image-2.jpg" alt="First slide">
                  </div>

                  <div class="carousel-caption d-md-block">
                    <h5>Father Name</h5>
                    <p>Prabagarn.S B.Tech(IT)</p>
                  </div>

                </div>
                <div class="carousel-item ">
                  <img class="img-fluid carousle-image-height" src="assets/image-1.jpg" alt="Second slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>...</h5>
                    <p>...</p>
                  </div>

                </div>
                <div class="carousel-item">
                  <img class="img-fluid carousle-image-height"
                    src="https://scontent.fcok5-1.fna.fbcdn.net/v/t1.6435-9/219340925_2688621484761414_744962381444242568_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=DHPOn-Lef88AX-8MTSW&_nc_ht=scontent.fcok5-1.fna&oh=51008885291dd791e4fe1a3079f5b95e&oe=618DD091"
                    alt="Third slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>...</h5>
                    <p>...</p>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev navigation-button-position-prev" href="#carouselExampleIndicators"
                role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next navigation-button-position-next" href="#carouselExampleIndicators"
                role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>

      </nz-layout> -->
    </div>
    <div class="side-menu">
      <nz-layout class="side-menu-layout">
        <nz-sider class="side-menu-wrapper" id="side-nav-bar" nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0"
          [nzWidth]="210" [nzCollapsed]="isCollapsed" (nzCollapsedChange)="onClickSideMenuButton()" nzTheme="dark">
          <div>
            <ul nz-menu class="side-panel-main" nzMode="inline" nzTheme="dark">
              <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Home' : ''"
                nzSelected="false">
                <i nz-icon nzType="home" nzTheme="twotone" style="font-size: 16px"></i>
                <span>Home</span>
              </li>
              <li nz-menu-item nz-tooltip nzTooltipPlacement="right"
                [nzTooltipTitle]="isCollapsed ? 'Notification' : ''" nzSelected="true">
                <i nz-icon nzType="bell" nzTheme="twotone"></i>
                <span>Notification</span>
              </li>
              <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Add File' : ''"
                (click)="onClickSideMenu($event,'Add-File-Component')">
                <i nz-icon nzType="file-add" nzTheme="twotone"></i>
                <span>Add Files</span>
              </li>
              <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Message' : ''">
                <i nz-icon nzType="message" nzTheme="twotone"></i>
                <span>Message</span>
              </li>
              <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Birthday' : ''">
                <i nz-icon nzType="gift" nzTheme="twotone"></i>
                <span>Birthdays</span>
              </li>
              <li nz-menu-item nz-tooltip nzTooltipPlacement="right"
                [nzTooltipTitle]="isCollapsed ? 'FamilyMembers' : ''">
                <i nz-icon nzType="usergroup-add" nzTheme="outline" [ngStyle]="{'color':'#6bb8ff'}"></i>
                <span>FamilyMembers</span>
              </li>
            </ul>
          </div>
        </nz-sider>
      </nz-layout>
    </div>
  </nz-layout>
</nz-layout>